{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Mini_Blog about Page{% endblock title %}
{% block content %}

<div class="col-sm-10">
 <h3 class="text-white">About Page</h3>
 <p class="text-white my-5">This is My mini blog. Lorem ipsum dolor  dolorem odio porro, corporis cupiditate soluta.</p>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim numquam perferendis incidunt voluptatibus praesentium a consequatur inventore odit voluptatum, laboriosam sed, obcaecati, eos architecto mollitia temporibus! Laudantium explicabo quasi ad deserunt magnam vel aperiam adipisci modi libero sunt laboriosam dolor odio quibusdam totam aliquid voluptatum officia iusto quae, doloribus recusandae.</p>
</div>

{% endblock content %}