{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Mini_Blog Home Page{% endblock title %}

{% block content %}
<style>
h3{
  background-color: rgb(100, 100, 0.2);
  border: none;
  border-radius: 25px;
  transition: 3s;
 
}
h3:hover{
  
  transform: scale(1.1);
}
.container{
  border: none;
  padding: 4px;
  font-style: italic;
  font-weight: lighter;
 
}

</style>
<div class="col-sm-10">
 <h3 class="text-white  p-4 my-5 ">Home Page</h3>
 {% for post in posts %}
   <div class="jumbotron jumbotron-fluid jumbo-color">
     <div class="container">
      <h1 class="display-4 p-4 font-weight-bold">{{post.title}}</h1>
      <p class="lead p-4">
      {{post.desc}}
    </p>
     </div>
   </div>
  {% endfor %}
 
</div>

{% endblock content %}

